* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary: #ff3700;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 10;
}
.logo {
    font-size: 40px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 800;
}
.nav {
    display: flex;
}
.nav li {
    margin: 0 10px;
}
.nav li a {
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}
.nav li:hover a {
    color: var(--primary);
}
.search {
    position: relative;
    width: 300px;
    height: 40px;
}
.search input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px !important;
    backdrop-filter: blur(10px);
}
.search input::placeholder {
    color: #fff;
}
.search i {
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%) !important;
    left: 10px;
    padding-right: 10px;
    color: #fff;
    border-right: 1px solid #fff;
}
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../assets/movies/bg-little-mermaid.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: 0.5s;
}
.banner.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.banner .content {
    position: relative;
    max-width: 550px;
    display: none;
    visibility: hidden;
    transform: scale(0);
    transform: 0.5s;
}
.banner .content.active {
    display: block;
    visibility: visible;
    transform: scale(1);
}
.banner .content .movie-title {
    max-width: 250px;
}
.banner .content h4 {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 30px;
}
.banner .content h4 span {
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.banner .content h4 span:first-child {
    padding-left: 0;
}
.banner .content h4 span:last-child {
    border-right: none;
}
.banner .content h4 span i {
    background-color: var(--primary);
    color: #fff;
    padding: 0 8px;
    display: inline-block;
    border-radius: 2px;
}
.banner .content p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #fff;
    margin: 10px 0 20px;
}
.banner .content .button {
    position: relative;
}
.banner .content .button a {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background-color: var(--primary);
    color: #fff;
    padding: 6px 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
}
.banner .content .button a:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.banner .content .button a:hover:nth-child(2) {
    background-color: var(--primary);
}
.banner .carousel-box {
    position: relative;
    min-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
}
.banner .carousel-box .carousel {
    position: relative;
    height: 450px;
    perspective: 1500;
}
.banner .carousel-box .carousel .carousel-item {
    width: 250px;
    cursor: pointer;
}
.banner .carousel-box .carousel .carousel-item img {
    max-width: 235px;
    border-radius: 10px;
    transform: translate(8px, -100px);
    object-fit: cover;
    object-position: center;
}
.banner .play {
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
    gap: 5px;
}
.banner .play:hover {
    color: var(--primary);
}
.banner .play i {
    font-size: 22px;
}
.banner .sci {
    position: absolute;
    bottom: 65px;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.banner .sci a {
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
}
.banner .sci a:hover {
    color: var(--primary);
} 
.trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.trailer.active {
    visibility: visible;
    opacity: 1;
}
.trailer video {
    max-width: 900px;
    outline: none;
}
.trailer .close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 30px;
}

/* @media (max-width: 1200px) {
    header {
        padding: 20px 70px;
    }
    .banner .content .movie-title {
        max-width: 230px;
    }
    .banner .content h4 {
        font-size: 12px;
    }
    .banner .content h4 span {
        padding: 0 5px;
    }
    .banner .content .button {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .banner .content .button a {
        font-size: 12px;
        margin-right: 0;
        gap: 5px;
        padding: 10px 15px;
    }
    .carousel-box {
        min-width: 800px !important;
    }
    .carousel-box .carousel {
        height: 430px;
    }
}
@media (min-width: 992px) {
    .carousel-box {
        min-width: 650px !important;
    }
    .carousel-box .carousel {
        height: 400px;
    }
    .banner .sci {
        right: 50px;
        bottom: 70px;
    }
}
@media (min-width: 768px) {
    header {
        padding: 5px 20px;
    }
    header .logo {
        font-size: 20px;
    }
    header .search {
        display: none;
    }
    .banner {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
    }
    .banner .content {
        margin: 70px 0 40px;
        align-self: flex-start;
    }
    .banner .carousel-box {
        margin-bottom: 90px;
        min-width: 719px !important;
    }
    .banner .carousel-box .carousel {
        height: 390px;
    }
    .banner .carousel-box .carousel .carousel-item img {
        max-width: 200px;
        transform: translate(8px, -70px);
    }
    .banner .play {
        bottom: 30px;
        left: 20px;
    }
    .banner .sci {
        bottom: 30px;
        right: 20px;
    }
    .trailer video {
        max-width: 700px;
    }
}
@media (max-width: 767px) {
    header {
        padding: 0 5px;
    }
    header .search {
        display: none;
    }
    .banner {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
    }
    .banner .content {
        margin: 70px 0 40px;
        align-self: flex-start;
    }
    .carousel-box {
        min-width: 500px !important;
        margin-bottom: 90px;
    }
    .banner .carousel-box .carousel {
        perspective: 200px;
        height: 300px;
    }
    .banner .carousel-box .carousel .carousel-item img {
        max-width: 150px;
        transform: translate(50px, -30px);
    }
    .banner .play {
        bottom: 40px;
        left: 80px;
    }
    .banner .sci {
        bottom: 30px;
        right: 80px;
    }
    .trailer video {
        max-width: 500px;
    }
} */